.card-container {
  font-family: brandon_grotesque_regularRg, serif;
  min-height: 40rem;
  min-width: 20rem;
  height: auto;
  width: 50rem;
  margin: auto;
  background-color: #f8f8f8;
  box-shadow: 0 1px 9.9px 0.1px rgba(187, 185, 185, 0.27);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  overflow-scrolling: auto;
}
.card-header {
  height: 1rem;
  background-color: #ef4847;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-content {
  display: flex;
  flex-flow: column;
}
.contacts-card-container {
  display: flex;
  flex-flow: row wrap;
}
