<div class="header-container">
  <div class="header-info-container">
      <span class="center">
        <mat-icon inline="true">phone</mat-icon>
        +1 (514)-534-0011 /
        <mat-icon inline="true">mail</mat-icon>
        broxzhang@gmail.com
      </span>
    <div class="links-container center">
        <a href="https://github.com/broxzhang"  class="link-icon">
          <i class="fab fa-github"></i>
        </a>
      <a class="link-icon">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/xuzhanggame/" class="link-icon">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="nav-container">

  </div>
</div>


