<div class="master-header">
  <div class="header-container">
    <div class="header-info-container">
      <span class="center">
        <i class="fas fa-mobile"></i>
        +1 (514)-534-0011 /
        <i class="fas fa-envelope"></i>
        broxzhang@gmail.com
      </span>
      <div class="links-container center">
        <a href="https://github.com/broxzhang"  class="link-icon">
          <i class="fab fa-github"></i>
        </a>
        <a class="link-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/xuzhanggame/" class="link-icon">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="nav-container">
      <div class="logo-container">
      <span class="logo-item">
        <span class="center">BROX ZHANG</span>
      </span>
      </div>
      <ul class="header-nav">
        <li class="nav-item-list">
          <a class="nav-item">HOME</a>
        </li>
        <li class="nav-item-list">
          <a class="nav-item">ABOUT</a>
        </li>
        <li class="nav-item-list">
          <a class="nav-item"  routerLink="/resume">RESUME</a>
        </li>
        <li class="nav-item-list">
          <a class="nav-item">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</div>



