.header-container {
  display: flex;
  flex-flow: column nowrap;
  background-image: url("../../../assets/img/timg-dark.jpg");
  height: 100vh;
  width: 100vw;
}
.center {
  margin: auto 3rem;
}
.header-info-container {
  border-bottom: gray 0.1px solid;
  font-size: 1.2rem;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  justify-content: space-between;
}
.links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.link-icon {
  color: white;
  width: 5rem;
}
.nav-container {
  display: flex;
}
