<app-header></app-header>
<!--<mat-card>-->
  <!--<div class="form-group">-->
    <!--<label>Country</label>-->
    <!--<select (change)="selectChange($event.target.value)" class="form-control" name="country" required>-->
      <!--<option value="">&#45;&#45;Select Country&#45;&#45;</option>-->
      <!--<option *ngFor="let country of countries" value={{country.id}}>-->
        <!--{{country.name}}-->
      <!--</option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label>State</label>-->
    <!--<select class="form-control" name="state" required>-->
      <!--<option value="">&#45;&#45;Select State&#45;&#45;</option>-->
      <!--<option *ngFor="let state of states" value={{state.id}}>-->
        <!--{{state.name}}-->
      <!--</option>-->
    <!--</select>-->
  <!--</div>-->
<!--</mat-card>-->
<app-contact></app-contact>
<app-footer></app-footer>
